.nav {float: right;}
.nav-img {
  width: 200px;
  float: left;
}
.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: #333333; */
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  /* color: white; */
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

/* .nav li a:hover {
  background-color: #111111;
} */

/* .nav li a.active {
  background-color: #fff;
  color: #000;
  border-bottom: 1px solid #ccc;
} */


.body{
  clear: both;
  background: url('/img/pattern.jpg') repeat 0 0; ;
  padding: 20px 100px;
  position: relative;
    height: 0;
    padding-bottom: 75%;
    z-index: 1;
}

.container {
  background-color: #fff;
  padding: 20px;
}

#article-list {
  /* padding: 20px; */
  /* margin: 0 100px; */
  /* background-color: white; */
}

.article img {
  float: left;
  object-fit: cover;
  width: 200px;
  height: 300px;
  margin-right: 10px;
}
.article p {
  clear: both;
}
.article .info {
  margin-left: 20px;
}

.box{
  margin: 0 auto;
  border: 1px solid;
  width: 500px;
  border-radius: 20px;
  padding: 20px;
}

.box table{
  margin: 0 auto;
}




.movie {
  text-align: center;
}

.movie td.maxline {
  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
   width: 300px;
}

table.list {
  /* border-collapse: collapse; */
}

table.list, table.list th, table.list td {
  border-top: 1px solid black;
  padding: 5px;
  text-align: left;
}
table.form {
  width: 100%;
}

table.form td:nth-child(1) {
  text-align: left;   
}
table.form td:nth-child(2) {
  text-align: right;   
}
table.form input ,table.form textarea {
  width: 100%;   
}